#title-div{
    position: relative;
    width: 100%;
    align-content: center;
    text-align: center;
    margin: auto;
    background-color: gray;
    opacity: 5%;
}

#img-div{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
