*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    opacity: 1%;
}

#title-div{
    position: relative;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: gray;
    opacity: 1%;
}

#img-div{
    background-color: whitesmoke;
    position: relative;
    width: 80%;
    align-content: center;
    text-align: center;
    padding: 2%;
}

#image{
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;   
    width: 90%;
    text-align: center;
    align-content: center;
}

#tribute-info{
    position: relative;
    align-content: center;
    text-align: center;
}

ul{
    text-align: center;
}
