body{
    margin: 0px;
    padding: 0px;
}

#title-div{
    position: relative;
    width: 100%;
    align-content: center;
    text-align: center;
    /* margin-left: 5px;
    margin-right: 5px; */
    padding: 0%;
    background-color: gray;
    opacity: 1%;
}

#img-div{
    position: relative;
    width: 100%;
    align-content: center;
    text-align: center;
    /* margin-left: 5px;
    margin-right: 5px; */
    padding: 0%;
    background-color: whitesmoke;
}
